@model SelfBoard.Domain.Entities.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="info">
    <div>
        <img class="avatar" src="@Url.Action("GetImage", "Image", new { UserId = Model.Id })" />
        @{ Html.RenderAction("SelfMenu", "Navigation", new { UserId = Model.Id }); }
    </div>
    <div>
        <table>
            <tr><td>Состояние : </td><td>@Html.Action("GetOnline", "Image", new { UserId = Model.Id })</td></tr>
            <tr><td>Имя : </td><td>@Model.FirstName</td></tr>
            <tr><td>Фамилия : </td><td>@Model.LastName</td></tr>
            <tr><td>Возраст : </td><td>@Html.Action("GetAge", "Image", new { UserId = Model.Id })</td></tr>
            <tr><td>Пол : </td><td>@Html.Action("GetSex", "Image", new { UserId = Model.Id })</td></tr>
            <tr><td>Дата рождения : </td><td>@Model.BirthDay.Date.ToString("dd.MM.yyyy")</td></tr>
            <tr><td>О себе : </td><td>@Model.AboutMe</td></tr>
        </table>
    </div>
</div>
@Html.Action("GetNews", "News", new { UserId = Model.Id })