@model SelfBoard.Domain.Entities.User
@{
    ViewBag.Title = "Index";
}
 
<div class="info">
    <div>
        @if (Model.AvatarId == null)
        {
            <img class="avatar" src="~/Content/nophoto.gif" />
        }
        else
        {
            <img class="avatar" src="@Url.Action("GetImage", "Image", new {Model.UserId })" />
        }
        @{ Html.RenderAction("SelfMenu", "Navigation", new { Model.UserId }); }
    </div>
    <div >
        <table>
            <tr><td>Состояние : </td><td>@Html.Action("GetOnline", "Image", new { Model.UserId })</td></tr>
            <tr><td>Имя : </td><td>@Model.FirstName</td></tr>
            <tr><td>Фамилия : </td><td>@Model.LastName</td></tr>
            <tr><td>Возраст : </td><td>@Html.Action("GetAge", "Image", new { Model.UserId })</td></tr>
            <tr><td>Пол : </td><td>@Html.Action("GetSex", "Image", new { Model.UserId })</td></tr>
            <tr><td>Дата рождения : </td><td>@Model.BirthDay.Date.ToString("dd.MM.yyyy")</td></tr>
            <tr><td>О себе : </td><td>@Model.AboutMe</td></tr>
        </table>
    </div>
</div>
@Html.Action("GetNews", "News", new { Model.UserId })

