@model IEnumerable<SelfBoard.WebUI.Models.MessageModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var message in Model)
{
    <a style="text-decoration: none" href="@Url.Action("ConcreteMessages", "Message", new {
                                           UserId = message.MessageObj.ReceiverId == SelfBoard.WebUI.Models.MessageModel.CurrentUserId ?
                                           message.MessageObj.SenderId : message.MessageObj.ReceiverId
                                      })">
        <div class="frend-infarmation">
            <div>
                    <img class="frend-avatar" src="@Url.Action("GetIconImage", "Image", new { UserId = message.MessageObj.SenderId })" />
            </div>
            <div>
                <table>
                    <tr><td class="ninja">Дата : </td><td>@message.MessageObj.SendDate</td></tr>
                    <tr><td class="ninja">Сообщение : </td><td>@message.MessageObj.MessageString</td></tr>
                </table>
            </div>
            <div style="float: right;">
                    <img class="frend-avatar" src="@Url.Action("GetIconImage", "Image", new { UserId = message.MessageObj.ReceiverId })" />
            </div>
        </div>

    </a>
}  