@model SelfBoard.WebUI.Models.RegisterModel

@{
    Layout = "~/Views/Shared/_AuthUser.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>Логин: </div>
    <div>@Html.EditorFor(x => x.Email)</div>
        <div>Пароль: </div>
        <div>@Html.EditorFor(x => x.Password)</div>
        <div>Подтверждение пароля: </div>
        <div>@Html.EditorFor(x => x.PasswordConfirm)</div>
        <div>Фамилия: </div>
        <div>@Html.EditorFor(x => x.LastName)</div>
        <div>Имя: </div>
        <div>@Html.EditorFor(x => x.FirstName)</div>
        <div>Дата рождения: </div>
        <div>@Html.EditorFor(x => x.BirthDay)</div>
        <div> Пол: </div>
        <div>@Html.DropDownListFor(x => x.StringSex, new SelectList(new[] { "Мужской", "Женский" }))</div>
        <div>О себе: </div>
        <div>@Html.EditorFor(x => x.AboutMe)</div>

        <div><input class="actionButtons" type="submit" value="Регистрация" /></div>
}